@charset "utf-8";
/* CSS Document */
html
{
	font-family: Arial, Helvetica, sans-serif;
}

body
{
	background-image:url(../imagenes/fondo.png);
	background-repeat:repeat;
}

.datagrid-btable tbody tr td div
{
	white-space: normal;
	word-wrap: normal;
}

#cabecera
{
	background: rgb(207, 85, 22);
	box-shadow:rgb(0,0,0) 1px 1px 10px;
}

#DivContenido
{
	background-color: rgb(253, 250, 210);
	box-shadow:rgb(0,0,0) 1px 1px 10px;
	border-radius:5px;
	padding:1%;
	margin-top:2%;
	margin-bottom:2%;
	z-index:auto;
}
#DivLogIn
{
	margin-top: 5%;
	margin-bottom: 2%;
	border: solid;
	background: rgb(243, 127, 70);
	border-color: rgb(182, 76, 16);
	border-radius: 5px;
	box-shadow:rgb(0,0,0) 1px 1px 10px;
}

.letraGris
{
	color: rgb(90,90,90)
}

.degradado
{
	color: rgb(255,255,255);
	background-image: linear-gradient(rgb(255, 215, 129), rgb(182, 76, 16));
	/*padding:1%;*/
	margin-bottom:2%;
}

.divBotonInicio
{
	border-radius: 5%;
}

#lateral {
	width: 8%;
	position: fixed;
	padding: 20px;
	top: 10%;
	right: 0;
	transform: translateX(100%);
	transition: all .5s ease;
}

#lateral.entra {
	transform: translateX(0);
}

#lateral.entra {
	transform: translateX(0);
}

#btnPopup{
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-50%, -50%);
    color:rgb(255, 255, 255);
    display: block;
    background: rgb(235,50,35);
    padding: 2px 5px;
    border-radius: 5%;
	cursor: pointer;
}

#divPopup {
	width: 50%;
	position: fixed;
	padding: 20px;
	top: 10%;
	left: 25%;
	background-color: rgb(211, 254, 255);
	border-radius: 5px;
	box-shadow: 3px 3px rgb(90,90,90);
	opacity: 0%;
	transition: all .5s ease;
}

#divPopup.visible{
	opacity: 100%;
}